header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 99999;
  padding: 0.2rem 0.26rem;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

header .Search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.25rem;
}

header .Search .edit {
  margin-right: 0.3rem;
  margin-top: 0.1rem;
  width: 0.2rem;
  height: 0.34rem;
}

header .Search .search {
  width: 100%;
  height: 0.5rem;
  border: 1px solid #666;
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header .Search .search .Magnifier {
  width: 0.28rem;
  height: 0.28rem;
  display: block;
  margin: 0.1rem auto;
}

header .Search .search input {
  font-size: 0.18rem;
  width: 4rem;
  border: 0;
  outline: none;
}

header .lists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
}

header .lists li {
  width: 1.5rem;
  font-size: 0.24rem;
  color: #333;
  padding: 0 0.2rem 0 0;
}

header .lists li:last-child {
  padding: 0;
}

header .lists li.active {
  color: red;
}

.columnlist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1.7rem;
  margin-bottom: 1rem;
}

.columnlist a li {
  border-bottom: 1px solid #eee;
  height: 2.08rem;
  width: 100%;
}

.columnlist a li .Container {
  padding: 0.24rem 0.26rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.columnlist a li .Container .pic {
  width: 1.6rem;
  height: 1.6rem;
}

.columnlist a li .Container .pic img {
  width: 1.6rem;
  height: 1.6rem;
}

.columnlist a li .Container .details {
  width: 80%;
  padding: 0 0.3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
}

.columnlist a li .Container .details h2 {
  font-size: 0.3rem;
  font-weight: inherit;
  color: #333;
  margin-bottom: 0.2rem;
}

.columnlist a li .Container .details h3 {
  font-size: 0.3rem;
  font-weight: inherit;
  color: #333;
}

.columnlist a li .Container .details h3 span {
  font-size: 0.3rem;
  font-weight: inherit;
  color: #333;
}

.columnlist a li .Container .details .people {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.columnlist a li .Container .details .people h4 {
  font-size: 0.24rem;
  font-weight: inherit;
  color: #ff4c61;
}

.columnlist a li .Container .details .people span {
  font-size: 0.24rem;
  font-weight: inherit;
  color: #333;
}

footer {
  border-top: 1px solid #eee;
  width: 100%;
  height: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 99999;
}

footer ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 1rem;
  padding: 0.03rem 0;
}

footer ul a:nth-of-type(1) li .tab {
  background-image: url("../images/shouyehui@2x.png");
}

footer ul a:nth-of-type(1) li i {
  color: #333;
}

footer ul a:nth-of-type(2) li .tab {
  background-image: url("../images/gouwuche@2x.png");
}

footer ul a:nth-of-type(3) li .tab {
  background-image: url("../images/wode@2x.png");
}

footer ul a li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.05rem 0;
  width: 1.5rem;
}

footer ul a li .tab {
  margin: 0 auto;
  width: 0.5rem;
  height: 0.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer ul a li i {
  text-align: center;
  font-size: 0.24rem;
  color: #666;
}
