header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 99999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

header .Search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem 0.26rem;
}

header .Search .edit {
  margin-right: 0.3rem;
  margin-top: 0.1rem;
  width: 0.2rem;
  height: 0.34rem;
  background: url(../images/596932904110395182.png) no-repeat center/cover;
}

header .Search .search {
  width: 100%;
  height: 0.5rem;
  border: 1px solid #666;
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header .Search .search .Magnifier {
  width: 0.28rem;
  height: 0.28rem;
  display: block;
  margin: 0.1rem auto;
}

header .Search .search input {
  font-size: 0.18rem;
  width: 4rem;
  border: 0;
  outline: none;
}

header .sortlist {
  background: #eee;
  padding: 0.2rem 0.26rem;
}

header .sortlist ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .sortlist ul li {
  font-size: 0.24rem;
  color: #666;
}

header .sortlist ul li.redtive {
  color: #ff4c61;
}

header .sortlist ul li:nth-child(3) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header .sortlist ul li:nth-child(3) .arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 0.12rem;
}

header .sortlist ul li:nth-child(3) .arrow .arrow-s {
  border-left: 0.08rem solid transparent;
  border-right: 0.08rem solid transparent;
  border-bottom: 0.12rem solid #666;
  margin-bottom: 0.05rem;
  margin-top: 0.04rem;
}

header .sortlist ul li:nth-child(3) .arrow .arrow-s.active {
  border-bottom: 0.12rem solid #ff4c61;
}

header .sortlist ul li:nth-child(3) .arrow .arrow-x {
  border-left: 0.08rem solid transparent;
  border-right: 0.08rem solid transparent;
  border-top: 0.12rem solid #666;
}

header .sortlist ul li:nth-child(3) .arrow .arrow-x.active {
  border-top: 0.12rem solid #ff4c61;
}

header .sortlist ul li:nth-child(4) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header .sortlist ul li:nth-child(4) .xia {
  border-left: 0.08rem solid transparent;
  border-right: 0.08rem solid transparent;
  border-top: 0.12rem solid #666;
  margin-top: 0.12rem;
  margin-left: 0.12rem;
}

header .sortlist ul li:nth-child(4) .xia.active {
  border-top: 0.12rem solid #ff4c61;
}

.channelist {
  background: #fff;
  position: absolute;
  top: 1.6rem;
  width: 100%;
  left: 0;
  display: none;
}

.channelist.block {
  display: block;
}

.channelist li {
  border-bottom: 1px solid #eee;
}

.channelist li .channel {
  padding: 0.24rem 0.26rem;
}

.channelist li .channel p {
  font-size: 0.24rem;
  color: #666;
}

.channelist li .channel p.active {
  color: #ff4c61;
}

.columnlist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1.6rem;
  margin-bottom: 1rem;
}

.columnlist a li {
  border-bottom: 1px solid #eee;
  height: 2.08rem;
}

.columnlist a li .Container {
  padding: 0.24rem 0.26rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.columnlist a li .Container .pic {
  width: 1.6rem;
  height: 1.6rem;
  background: red;
}

.columnlist a li .Container .pic img {
  width: 1.6rem;
  height: 1.6rem;
}

.columnlist a li .Container .details {
  width: 65%;
  padding: 0 0.3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
}

.columnlist a li .Container .details h2 {
  font-size: 0.24rem;
  font-weight: inherit;
  color: #333;
}

.columnlist a li .Container .details h3 {
  font-size: 0.2rem;
  font-weight: inherit;
  color: #333;
}

.columnlist a li .Container .details h3 span {
  font-size: 0.2rem;
  font-weight: inherit;
  color: #333;
}

.columnlist a li .Container .details .people h4 {
  font-size: 0.2rem;
  font-weight: inherit;
  color: #ff4c61;
}

.columnlist a li .Container .duihuan {
  width: 1rem;
  height: 1rem;
  font-size: 0.24rem;
  background: #ff4c61;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  line-height: 0.5rem;
  margin-top: 0.3rem;
}
