@import "domo";
body{
  background: #fcfcfc;
}
header{
  padding: 0.2rem 0.26rem;
  height: 1rem;
  width: 100%;
  border-bottom: 1px solid #eee;
  position: fixed;
  top:0;
  left: 0;
  z-index: 99999;
  background: #fff;
  .edit{
    width: 0.2rem;
    height: 0.34rem;
    float: left;
    background-image: url(../images/596932904110395182.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0.14rem;
  }
  span{
    font-size: 0.28rem;
    color: #333;
    display: block;
    float: right;
    margin-top: 0.1rem;
  }
}
.address-box{
  margin-top: 1rem;
  @include Flexcolumn;
  background: #fff;
  .address{
    @include Flex;
    .addpic{
      height: 0.5rem;
      width: 0.4rem;
      background: url("../images/dz20170928140522.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .addinfo{
      @include Flexcolumn;
      .addname{
        @include Flexbetween;
        .name{
          font-size: 0.24rem;
          color: #000;
        }
        .phone{
          font-size: 0.24rem;
          color: #000;
        }
      }
      .goodsadd{
        font-size: 0.24rem;
        color: #000;
      }
    }
  }
  .addfoot{
    height: 0.1rem;
    background: url("../images/tiao20171009173852.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

footer{
  @include Flexend;
  background: #fff;
  height: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999;
  .join,.exchange{
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    color: #fff;
    font-size: 0.28rem;
  }
  .join{
    background:#fe8f73;
    width: 35%;
  }
  .exchange{
    background: #ff4c61;
    width: 65%;
  }
}