@import "domo";
body{
  background: #fcfcfc;
}
header{
  @include Flexbetween;
  padding: 0.2rem 0.26rem;
  height: 1rem;
  width: 100%;
  border-bottom: 1px solid #eee;
  position: fixed;
  top:0;
  left: 0;
  z-index: 99999;
  background: #fff;
  .edit{
    width: 0.2rem;
    height: 0.34rem;
    float: left;
    background-image: url(../images/596932904110395182.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0.14rem;
  }
  h1{
    line-height: 0.6rem;
    font-size: 0.3rem;
    font-weight: inherit;
    color: #333;
    text-align: center;
  }
  h2{
    line-height: 0.6rem;
    font-size: 0.24rem;
    font-weight: inherit;
    color: #333;
    text-align: center;
  }
}
section{
  margin-top: 1rem;
  ul{
    li{
      @include Flexcolumn;
      background: #fff;
      margin-bottom: 0.2rem;
      .address{
        .addressrow{
          padding: 0.2rem 0.26rem;
          @include Flexcolumn;
          .addressrow-name{
            @include Flexbetween;
            margin-bottom: 0.2rem;
            .name{
              font-size: 0.28rem;
              color: #666;
              span{
                font-size: 0.28rem;
                color: #ff4c61;
                margin-left: 0.5rem;
              }
            }
            .photonum{
              font-size: 0.28rem;
              color: #666;
            }
          }
          .addressrow-add{
            font-size: 0.28rem;
            color: #666;
          }
        }
      }
    }
  }
}