@import "domo";
header{
  padding: 0.2rem 0.26rem;
  height: 1rem;
  width: 100%;
  border-bottom: 1px solid #eee;
  position: fixed;
  top:0;
  left: 0;
  z-index: 99999;
  background: #fff;
  .edit{
    width: 0.2rem;
    height: 0.34rem;
    float: left;
    background-image: url(../images/596932904110395182.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0.14rem;
  }
  h1{
    line-height: 0.6rem;
    font-size: 0.3rem;
    font-weight: inherit;
    color: #333;
    text-align: center;
  }
}
.setup{
  margin-top: 1rem;
  li{
    border-bottom: 1px solid #eee;
    .toppt{
      padding: 0.2rem 0.26rem;
      line-height: 0.8rem;
      @include Flexbetween;
      .libefore{
        width: 15%;
        @include Flexbetween;
        .topimg{
          width: 0.36rem;
          height: 0.36rem;
          background-image: url(../images/setup20170925104831.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          margin-top: 0.2rem;
        }
        .nickimg{
          width: 0.36rem;
          height: 0.36rem;
          background-image: url(../images/setup20170925104853.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          margin-top: 0.2rem;
        }
        p{
          font-size: 0.28rem;
          color: #666;
        }
      }
      .liafter{
        @include Flexbetween;
        .settop{
          width: 0.8rem;
          height: 0.8rem;
          background-image: url(../images/duiduoduo@2x.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        span{
          font-size: 0.28rem;
          color: #666;
          margin-top: 0.03rem;
        }
        .clickset{
          width: 0.15rem;
          height: 0.25rem;
          background-image: url(../images/arrow.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          margin-top: 0.3rem;
          margin-left: 0.2rem;
        }
      }
    }
  }
}
