header {
  padding: 0.2rem 0.26rem;
  height: 1rem;
  width: 100%;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: #fff;
}

header h1 {
  line-height: 0.6rem;
  font-size: 0.3rem;
  font-weight: inherit;
  color: #333;
  text-align: center;
}

.arc {
  margin-right: 0.2rem;
  width: 0.34rem;
  height: 0.34rem;
  border-radius: 50%;
  border: 1px solid #a0a0a0;
}

.arc.active {
  background-image: url(../images/20170922105446.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
}
.arc.act {
  background-image: url(../images/20170922105446.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
}

.sectionblock {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.sectionblock ul li .shopname {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.2rem;
}

.sectionblock ul li .shopname .namebox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sectionblock ul li .shopname .namebox .shoplogo {
  margin-right: 0.1rem;
  margin-top: 0.04rem;
  width: 0.26rem;
  height: 0.26rem;
  background-image: url(../images/746221974900540991.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sectionblock ul li .shopname .namebox .name {
  font-size: 0.24rem;
  color: #666;
}

.sectionblock ul li .shopname .edit {
  font-size: 0.24rem;
  color: #666;
}

.sectionblock ul li .shopname .complete {
  display: none;
  font-size: 0.24rem;
  color: #666;
}

.sectionblock ul li .purchase {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #eee;
  padding: 0.15rem 0.2rem;
  border-bottom: 2px solid #fff;
}

.sectionblock ul li .purchase .buypic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sectionblock ul li .purchase .buypic .arc {
  margin-top: 0.7rem;
}

.sectionblock ul li .purchase .buypic .pic {
  width: 1.74rem;
  height: 1.74rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sectionblock ul li .purchase .buystore {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0.28rem;
  width: 80%;
}

.sectionblock ul li .purchase .buystore .store {
  padding-bottom: 0.4rem;
}

.sectionblock ul li .purchase .buystore .store p:nth-child(1) {
  font-size: 0.24rem;
  color: #666;
  padding-bottom: 0.18rem;
}

.sectionblock ul li .purchase .buystore .store p:nth-child(2) {
  font-size: 0.22rem;
  color: #999;
}

.sectionblock ul li .purchase .buystore .storenum {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sectionblock ul li .purchase .buystore .storenum .integral {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sectionblock ul li .purchase .buystore .storenum .integral .star {
  margin: 0.05rem 0.05rem 0 0;
  width: 0.26rem;
  height: 0.26rem;
  background-image: url(../images/656715104412092630.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sectionblock ul li .purchase .buystore .storenum .integral i {
  font-size: 0.28rem;
  color: red;
}

.sectionblock ul li .purchase .buystore .storenum .nums {
  font-size: 0.28rem;
  color: #666;
}

.sectionblock ul li .purchase .buystore .storenumnone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: none;
}

.sectionblock ul li .purchase .buystore .storenumnone .addandsubtract {
  width: 1.6rem;
  height: 0.4rem;
  border: 1px solid #999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sectionblock ul li .purchase .buystore .storenumnone .addandsubtract .subtract {
  text-align: center;
  line-height: 0.3rem;
  font-size: 0.4rem;
  color: #666;
  width: 0.4rem;
  height: 0.39rem;
  border-right: 1px solid #999;
}

.sectionblock ul li .purchase .buystore .storenumnone .addandsubtract .number {
  text-align: center;
  line-height: 0.4rem;
  font-size: 0.24rem;
  color: #000;
  width: 0.8rem;
  height: 0.39rem;
  border-right: 1px solid #999;
}

.sectionblock ul li .purchase .buystore .storenumnone .addandsubtract .add {
  text-align: center;
  line-height: 0.35rem;
  font-size: 0.3rem;
  color: #666;
  width: 0.4rem;
  height: 0.39rem;
}

.sectionblock ul li .purchase .buystore .storenumnone .delete {
  margin-top: 0.06rem;
  width: 0.28rem;
  height: 0.28rem;
  background-image: url(../images/20170922104511.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sectionblock .footselect {
  z-index: 99999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 1rem;
  bottom: 1rem;
  left: 0;
  background: #fff;
}

.sectionblock .footselect .select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3rem 0.2rem;
}

.sectionblock .footselect .select .Qarc {
  margin-right: 0.2rem;
  width: 0.34rem;
  height: 0.34rem;
  border-radius: 50%;
  border: 1px solid #a0a0a0;
}

.sectionblock .footselect .select .Qarc.active {
  background-image: url(../images/20170922105446.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
}

.sectionblock .footselect .select .selectwords {
  font-size: 0.24rem;
  color: #a0a0a0;
}

.sectionblock .footselect .total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sectionblock .footselect .total .totalword {
  font-size: 0.24rem;
  color: #a0a0a0;
  padding: 0.3rem 0;
}

.sectionblock .footselect .total .totalstart {
  margin: 0.34rem 0.1rem 0 0.1rem;
  width: 0.26rem;
  height: 0.26rem;
  background-image: url(../images/656715104412092630.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sectionblock .footselect .total .calculation {
  font-size: 0.24rem;
  color: #ff4c61;
  padding: 0.3rem 0.1rem 0 0;
}

.sectionblock .footselect .total .settlement {
  height: 1rem;
  width: 2.4rem;
  background: #ff4c61;
  font-size: 0.3rem;
  color: #fff;
  text-align: center;
  line-height: 1rem;
}

.sectionblock .footselect .total .settlement i {
  font-size: 0.3rem;
  color: #fff;
}

.sectionnone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 7rem;
  display: none;
}

.sectionnone .shopping {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 2.1rem;
}

.sectionnone .shopping .shopcart {
  margin: 0 auto;
  width: 0.96rem;
  height: 0.96rem;
}

.sectionnone .shopping .null p {
  padding: 0.05rem;
  font-size: 0.24rem;
  color: #888;
  width: 3rem;
  text-align: center;
}

footer {
  background: #fff;
  z-index: 99999;
  border-top: 1px solid #eee;
  width: 100%;
  height: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 1rem;
  padding: 0.03rem 0;
}

footer ul a:nth-of-type(1) li .tab {
  background-image: url("../images/shouye@2x.png");
}

footer ul a:nth-of-type(2) li .tab {
  background-image: url("../images/gouwuchehui@2x.png");
}

footer ul a:nth-of-type(2) li i {
  color: #333;
}

footer ul a:nth-of-type(3) li .tab {
  background-image: url("../images/wode@2x.png");
}

footer ul a li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.05rem 0;
  width: 1.5rem;
}

footer ul a li .tab {
  margin: 0 auto;
  width: 0.5rem;
  height: 0.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer ul a li i {
  text-align: center;
  font-size: 0.24rem;
  color: #666;
}
